.contactSection .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 48px;
    margin-top: 48px;
}

.contactForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(225, 225, 225, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.contactForm:hover {
    transform: scale(1.02); 
    box-shadow: 0 0 20px var(--main-green, 0.2);
}

#contactDetails {
    color: var(--main-light);
    padding: 8px;
    text-align: center;
}

.contactForm form input[type="text"],
.contactForm form textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgba(225, 225, 225, 0.2);
    box-shadow: 0 0 10px rgba(225, 225, 225, 0.1);
    background: rgba(225, 225, 225, 0.3);
    border-radius: 5px;
    width: 95%;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

.contactForm form input[type="text"]:focus,
.contactForm form textarea:focus {
    border-color: var(--main-green); 
    box-shadow: 0 0 8px var(--main-green, 0.2); 
    outline: none; 
}

::placeholder {
    color: rgba(225, 225, 225, 0.5);
}

.contactInfo li:nth-of-type(2) {
    font-weight: bold;
    color: var(--main-light);
}

.contactButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.contactButtons:first-child {
    margin-right: auto;
}

.contactSocialLinks:last-child a {
    border-color: var(--main-purple);
}

.contactSocialLinks a:visited i {
    color: var(--main-light);
}

.contactSend {
    padding: 10px 20px;
    background: var(--main-green);
    color: var(--main-dark);
    border: 1px solid var(--main-green);
    border-radius: 5px;
    cursor: pointer;
    width: max-content;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.contactSend:hover {
    background-color: transparent;
    color: var(--main-light);
    transform: scale(1.05); 
}

.contactSocialLinks {
    display: flex;
    gap: 12px;
}

.contactSocialLinks a {
    border: 1px solid var(--main-green);
    color: var(--main-light);
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.contactSocialLinks a:hover {
    background: var(--main-green);
    color: var(--main-dark);
}

.contactInfoContainer > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.contactInfoContainer {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(225, 225, 225, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contactInfoContainer:hover {
    transform: scale(1.02); 
    box-shadow: 0 0 20px var(--main-green, 0.2);
}

.contactInfoContainer h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.contactInfoContainer h2 span {
    color: var(--main-green);
    font-weight: 700;
}

.contactInfoContainer p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(225, 225, 225, 0.8);
}

.contactInfo {
    padding: 0 !important;
}

.contactInfo li i {
    padding-right: 8px;
}

.contactInfo li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 8px 0;
    color: var(--main-green) !important;
}

.contactInfo li span,
.contactInfo li a {
    color: rgba(225, 225, 225, 0.8);
}

@media screen and (max-width: 768px) {
    .contactSection .row {
        grid-template-columns: 1fr;
    }

    .contactForm {
        margin-bottom: 24px;
    }

    .contactForm form input[type="text"],
    textarea {
        width: 95%;
    }

    .contactButtons {
        flex-direction: column;
    }

    .contactFormContainer {
        width: 96%;
    }

    .contactInfoContainer {
        margin-left: 10px;
    }
}

@media screen and (max-width: 480px) {
    .contactForm form input[type="text"],
    textarea {
        width: 100%;
    }
}
