.experienceContainer {
    margin-top: 72px;
    display: grid;
    grid-template-columns: 1fr;
    float: left;
    margin-bottom: 48px;
}

.experienceSectionHeader {
    text-align: center;
    margin-bottom: 24px;
}

.experienceSectionHeader h2 {
    font-weight: 400;
    color: var(--main-light);
}

.experienceSectionHeader h2 span {
    font-weight: 600;
    color: var(--main-green);
}

.experienceTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 24px;
    background-color: #1c1c1c; 
}

.experienceTable th,
.experienceTable td {
    padding: 16px;
    text-align: left;
    border: 1px solid var(--main-light);
    font-size: 0.9rem;
}

.experienceTable th {
    background-color: #2c2c2c; 
    color: var(--main-light);
    font-weight: 600;
}

.experienceTable td {
    color: rgba(225, 225, 225, 0.8);
}

.experienceTable tr:hover {
    background-color: #373737;
    box-shadow: var(--main-green, 0.25) 2px 6px 9px -3px,var(--main-green, 0.1) 0px 2px 3px -2px;
    transition: 0.3s;
}

.companyInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.companyInfo img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.companyInfo span {
    font-weight: 500;
    font-size: 1rem;
    color: var(--main-light);
}
