@import url('../main.css');

/* Nav Styles */
nav {
    background-color: var(--main-dark);
    color: var(--main-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    padding: 0 1rem;
    margin: 8px;
}

nav ul a {
    font-size: 1rem;
}

.navLinks li a:hover{
    color: var(--main-green);
    border-bottom: 2px solid var(--main-green);
    transition: ease-in-out 0.25s;

}

.contactLink a{
    border: 2px solid var(--main-green);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1.05rem;
    transition: ease-in-out 0.25s;
}

.contactLink a:hover{
    background-color: var(--main-green);
    color: var(--main-dark);
    transition: ease-in-out 0.25s;
}

.hamburgerMenu {
    display: none;
}

@media screen and (max-width: 792px) {
    .navLinks, .contactLink {
        display: none;
    }
    nav {
        justify-content: space-between;
    }
    .hamburgerMenu {
        display: block;
        cursor: pointer;
    }
    .contactLink a{
        font-size: 0.75rem;
    }

}